body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.fit-screen {
    height: 100vh;
    width: 100vw;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.italic{
    font-style: italic;
}

.text-container {
    width: 75%;
    max-width: 750px;
    text-align: center;
}

.header-title {
    align-self: flex-start;
    padding-left: 100px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

h1 {
    font-size: 56px;
}

h2, h3, .header-title {
    font-size: 18px;
}

a {
    color: #eb422b;
    text-decoration: none;
}

.button, form input[type='submit'] {
    padding: 5px 20px 5px 20px;
    background-color: transparent;
    border: 2px solid #eb422b;
    border-radius: 10px;
    color: #eb422b;
    cursor: pointer;
    margin: 5px;
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
}

.unregistered-header p {
    padding-right: 100px;
}

.unregistered-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

#welcome-screen, #clickbait-definition-screen, #about-screen, .unregistered-header {
    color: #000000;
    text-align: center;
    background-color: #ffffff;
}

#welcome-screen {
    background-image: url("../resources/home.jpg");
    color: #eb422b;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#clickbait-definition-screen {
    background-color: #ffffff;
}

#detect-button, #browse-button {
    display: inline-block;
    margin: 20px;
}

.feed {
    display: flex;
    justify-content: center;
}

#articles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 90px;
    width: 900px;
    height: 200px;
}

.article {
    width: 280px;
    border: 1px solid #000000;
    margin: 5px;
}

.article img {
    width: 100%;
    height: 200px;
}

.source-link {
    display: inline-block;
    text-align: right;
    color: #000000;
    text-decoration: underline;
}

.article-title, .article-reveal, .article-meta {
    margin-left: 20px;
    margin-right: 20px;
}

.article-title{
    margin-top: 20px;
    margin-bottom: 0;
}

.article-meta {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 12px;
}

.article-reveal span {
    color: #eb422b;
}

.red {
    color: #b53737;
}

.green {
    color: #4b8b3b;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type='text'] {
    padding: 5px 20px 5px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}